{% extends 'base.html' %}
{% load static %}

{% block hero %}
<div class="hero">
  <img class="hero-image" src="{{ hero_img_url }}">
  <div class="row hero-centered-text">
    <div class="col">
      <h1>{{object.title}}</h1>
      <h3>{{object.attendees}}</h3>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="my-4">
  <div class="row">
    <div class="schedule-item col-10">
      <h4><i class="fas fa-plane-departure"></i> Flight to {{object.get_initial_flight.destination}}</h4>
      <h5>Added by {{object.get_initial_flight.created_by.username}}</h5>
    </div>
    <div class="col-2 schedule-buttons">
    </div>
  </div>
  {% for schedule_item in schedule_items %}
  <div class="row">
    <div class="schedule-item col-10">
      <h4>{{schedule_item.location}}</h4>
      <h5>{{schedule_item.arrival_time}} - {{schedule_item.leaving_time}}</h5>
      <h5>Added by {{schedule_item.created_by.username}}</h5>
    </div>
    <div class="col-2 schedule-buttons">
      <a class="btn btn-danger m-*-auto">X</a>
    </div>
  </div>
  {% endfor %}
    <div class="row">
    <div class="schedule-item col-10">
      <h4><i class="fas fa-plane-arrival"></i> Flight to {{object.get_return_flight.destination}}</h4>
      <h5>Added by {{object.get_return_flight.created_by.username}}</h5>
    </div>
    <div class="col-2 schedule-buttons">
    </div>
  </div>
</div>



<a href="/trip/{{object.unique_id}}/add" class="btn btn-primary"><i class="fas fa-plus"></i> Add to schedule</a>
{% endblock %}