.navbar {
    background-color: skyblue
}

a {
    color: white;
}

li.nav-item a:hover {
    background-color: skyblue;
    color: #23527c;
}

body {
    background-color: #EEEEEE;
}

#main-content {
    box-shadow: 2px 2px 2px lightgray;
    background-color: white;
    min-height: 300px;
    padding: 30px;
}

footer {
    color: #333333;
}