a {
    color: white;
}

body {
    background-color: #EEEEEE;
}

#main-content {
    box-shadow: 2px 2px 2px lightgray;
    background-color: white;
    padding: 0;
}

#padded-content {
    min-height: 300px;
}

footer {
    color: #333333;
}

form {
    padding-top: 40px;
    padding-bottom: 40px;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
    background-color: black;
    width: 100%;
}

.hero-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    opacity: 0.5;
}

.hero-centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-centered-text h1 {
    text-shadow: 1px 1px black;
}

.hero-centered-text h3 {
    text-shadow: 1px 1px black;
}

.hero-centered-text h4 {
    text-shadow: 1px 1px black;
}


.provider {
    width: 400px;
    height: auto;
    padding: 30px;
}

.providers {
    text-align: center;
}

.card-clickable {
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
}

.schedule-item {
    margin: 0;
    padding: 10px;
    border-left: 2px solid black;
}

.schedule-spacer {
    margin: 0;
    padding: 10px;
    height: 30px;
    border-left: 2px dashed black;
}

.schedule-item-failure {
    margin: 0;
    padding: 10px;
    border-left: 2px solid red;
    color: red !important;
}

.schedule-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule-buttons .btn {
    margin:0 auto;
    display:block;
    color: white !important;
}

.lighter-text {
    color:#666666 !important; 
}

.directions-link {
    color: black !important;
}