{% extends "base.html" %}
{% load static %}


<!-- Hero (no padding top) -->
{% block hero %}

{% if user.is_authenticated %}

<div class="hero">
    <img class="hero-image" src="/static/images/city.jpg">
    <div class="hero-centered-text">
        <h1><i class="fas fa-plane-departure"></i> Your trips</h1>
    </div>
</div>

{% else %}

<div class="hero">
    <img class="hero-image" src="{% static 'images/manchester.jpeg' %}">
    <div class="hero-centered-text">
        <h1><i class="fas fa-plane-departure"></i> Lazy Holiday Planner</h1>
        <h3>The lazy bastard's holiday planner</h3>
    </div>
</div>

{% endif %}

{% endblock %}


<!-- Main content goes here -->
{% block content %}

{% if user.is_authenticated %}

{% if user_trips == None %}
<h3 class="my-5">You need to book some trips first! :(</h3>
{% else %}
<div class="card-columns">
{% for trip in user_trips %}
<div class="card my-3">
    <a href="/trip/{{trip.unique_id}}" class="card-clickable"></a>
    <h5 class="card-header">{{trip.title}}</h5>
    <div class="card-body">
        <h5 class="card-subtitle">{{trip.attendees}}</h5>
        <h6 class="text-muted">{{trip.notes}}</h6>
        <hr>
        <h6><i class="fas fa-plane-arrival"></i> {{trip.get_start_date}}</h6>
        <h6><i class="fas fa-plane-departure"></i> {{trip.get_end_date}}</h6>
    </div>
</div>
{% endfor %}
</div>

{% endif %}

<div class="btn-group">
    <a href="/new" class="btn btn-primary"><i class="fas fa-plus"></i> Start a new trip</a>
</div>

{% else %}

<h2>What we do</h2>
<p class="lead">Do you have more money than sense? Do you hate the fun of planning your own holiday? Do you want
    someone else to basically organise the whole thing for you? Well actually to be more specific, we have integrated a
    number of APIs to find you a good deal on an entire holiday. Simply send us some information on your ideal trip and
    we'll sort you out.</p>
<hr>
<h2>How we do</h2>
<p class="lead">We use the following services and APIs to find you a decent deal:</p>
<div class="providers">
    <img class="provider" src="/static/images/providers/skyscanner.png">
    <img class="provider" src="/static/images/providers/typeform.png">
</div>

{% endif %}

{% endblock %}